.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/

###
# Ignore file the do not need tracking
# Mainly in here for backups
###
acls/
groups/
nodes/
containers/
clients/
environments/
roles/

